---
import Layout from "../layouts/Layout.astro";
import Heading from "../components/Heading.astro";
import Title from "../components/Title.astro";

import info from "../assets/icons/ui/info.svg";

import skillsData from "../data/skills.json";
---

<Layout title="Ashton Heald - Portfolio">
	<Heading heading="Skills" subheading="Check out some of my expertise" />
	<article class="flex flex-col sm:grid sm:grid-cols-2 gap-4">
		<div class="col-span-2">
			<div class="card bg-base-100 border border-base-300 w-full h-full">
				<div class="card-body">
					<span class="flex gap-1 items-center">
						<Title title="Technologies" />
						<div
							class="tooltip"
							data-tip="Highlighted Technologies: Only includes technologies I've extensively worked with."
						>
							<img class="w-5 h-5" src={info.src} alt="Info" />
						</div>
					</span>
					<ul class="flex flex-wrap gap-1">
						{
							skillsData.tech.map((skill) => (
								<li>
									<div class="tooltip" data-tip={skill.alt}>
										<img
											class="w-6 h-6"
											src={skill.src}
											alt={skill.alt}
										/>
									</div>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="gap-4">
			<div class="card bg-base-100 border border-base-300 w-full">
				<div class="card-body">
					<Title title="Key Concepts" />
					<ul class="list-disc pl-5">
							{
								skillsData.concepts.map((concept) => (
									<li>{concept}</li>
								))
							}
						</ul>
				</div>
			</div>
		</div>
		<div class="gap-4">
			<div class="card bg-base-100 border border-base-300 w-full">
				<div class="card-body">
					<Title title="Top Soft Skills" />
					<ol class="list-decimal pl-5">
						{
							skillsData.softskills.map((skill) => (
								<li>{skill}</li>
							))
						}
					</ol>
				</div>
			</div>
		</div>
	</article>
</Layout>
